<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string></string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>278F1DB8-6391-4FF7-95EC-208357499920</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>BA485DB9-5D5D-4C39-B037-F0F78AF590A3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>90ABB4CA-3BC6-421D-9168-021A6F1AE173</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>BA485DB9-5D5D-4C39-B037-F0F78AF590A3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C0599899-ADDA-4673-96A5-3A353EF86396</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>BA485DB9-5D5D-4C39-B037-F0F78AF590A3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E3C98699-3E45-4F9F-998B-FB3183E80C1F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>BA485DB9-5D5D-4C39-B037-F0F78AF590A3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Jules Lasne</string>
	<key>description</key>
	<string>Open Dashlane</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Dashlane</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>d</string>
				<key>subtext</key>
				<string>Start Dashlane</string>
				<key>text</key>
				<string>Dashlane</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>C0599899-ADDA-4673-96A5-3A353EF86396</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>da</string>
				<key>subtext</key>
				<string>Start Dashlane</string>
				<key>text</key>
				<string>Dashlane</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>278F1DB8-6391-4FF7-95EC-208357499920</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>paths</key>
				<array>
					<string>/Applications/Dashlane.app</string>
				</array>
				<key>toggle</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.launchfiles</string>
			<key>uid</key>
			<string>BA485DB9-5D5D-4C39-B037-F0F78AF590A3</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>das</string>
				<key>subtext</key>
				<string>Start Dashlane</string>
				<key>text</key>
				<string>Dashlane</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>E3C98699-3E45-4F9F-998B-FB3183E80C1F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>dash</string>
				<key>subtext</key>
				<string>Start Dashlane</string>
				<key>text</key>
				<string>Dashlane</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>90ABB4CA-3BC6-421D-9168-021A6F1AE173</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>278F1DB8-6391-4FF7-95EC-208357499920</key>
		<dict>
			<key>xpos</key>
			<integer>50</integer>
			<key>ypos</key>
			<integer>165</integer>
		</dict>
		<key>90ABB4CA-3BC6-421D-9168-021A6F1AE173</key>
		<dict>
			<key>xpos</key>
			<integer>50</integer>
			<key>ypos</key>
			<integer>405</integer>
		</dict>
		<key>BA485DB9-5D5D-4C39-B037-F0F78AF590A3</key>
		<dict>
			<key>xpos</key>
			<integer>415</integer>
			<key>ypos</key>
			<integer>215</integer>
		</dict>
		<key>C0599899-ADDA-4673-96A5-3A353EF86396</key>
		<dict>
			<key>xpos</key>
			<integer>50</integer>
			<key>ypos</key>
			<integer>50</integer>
		</dict>
		<key>E3C98699-3E45-4F9F-998B-FB3183E80C1F</key>
		<dict>
			<key>xpos</key>
			<integer>50</integer>
			<key>ypos</key>
			<integer>285</integer>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>juleslasne.com</string>
</dict>
</plist>
