<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>fallbacks</key>
	<array>
		<string>features.websearch.google.fallback</string>
		<string>features.websearch.maps.fallback</string>
		<string>features.websearch.gtranslate.fallback</string>
		<string>user.workflow.2DBFECE3-8631-420C-9DD4-44D830B533D5.D781BC43-654A-4261-A7E4-648287517182</string>
	</array>
</dict>
</plist>
